.reveal .slides {
	text-align: left;
}
.reveal .slides section>* {
	margin-left: 0;
	margin-right: 0;
}

.reveal .slides section>ul {
	margin-left: 50px;
}

.reveal .slides section>h1, .reveal .slides section>h2,
.reveal .slides section>h3, .reveal .slides section>h4,
.reveal .slides section>h5, .reveal .slides section>h6 {
	text-align: center;
}

.reveal pre {
	width: 100%;
}

.reveal dd {
	margin-bottom: 30px;
}
